@page "/"

<HxListLayout Title="Faktury vystavené">
	<NamedViewsSection>
		<HxNamedViewList Data="@NamedViews" OnNamedViewChanged="@NamedViewSelected" /> @* Možná přímo navázat na centrální BindData? *@
	</NamedViewsSection>
	<SearchSection>
		<HxSearchBox OnQueryTextChanged="@SearchRequested" /> @* Možná přímo navázat na centrální BindData? *@
	</SearchSection>
	<FilterSection>
		<HxFilterView Data="@Filter" OnChange="@FilterChanged">
			@* Možná přímo navázat na centrální BindData? *@
			<Criteria>
				<HxDateRangeFilter @bind-Value="context.IssuedDateRange" Label="Vystavení" />
				<HxDateRangeFilter @bind-Value="context.TaxDateRange" Label="Účinnost" />
				<HxTextFilter @bind-Value="context.Text" Label="Nějaký text" />
				<GoranProjectFilter @bind-Value="context.ProjectId" Label="Projekt" />
				<GoranContactFilter @bind-Value="context.BusinessPartnerId" Label="Partner" />
				@*<HxFilter Label="Typ faktury">
					<FilterTemplate>
						HxDropDownList @@bind="context.InvoiceTypeId" Data="@@CodebooksStore.InvoiceTypes" NameField="Name" ValueField="Id" />
					</FilterTemplate>
					<ChipTemplate>
						<chip>
							<label>Typ:</label>
							<value>@CodebooksStore.InvoiceTypes.GetNameById(context.InvoiceTypeId)</value>
						</chip>
					</ChipTemplate>
				</HxFilter>*@
			</Criteria>
		</HxFilterView>
	</FilterSection>
	<CommandsSection>
		@* nebo pojmenovat ButtonsSection? *@
		<HxButton Text="Přidat fakturu" Skin="NewItem" OnClick="@NewInvoiceClicked" />
		@* ...případná další tlačítka, např. export, generátor opakovaných plateb, hromadné změny? ... *@
		@* ...tlačítko může být i "rozbalovací? *@
	</CommandsSection>
	<DataSection>
		@*@bind-SelectedDataItem="@CurrentInvoice"
		AllowSelection="true"
		AllowSorting="true"*@
		<HxGrid Data="@Invoices" PageSize="50">
			<Columns>
				<HxGridColumn TItemType="InvoiceDto" HeaderText="Vystavení" ItemText="@(item => item.IssuedDate.ToShortDateString())" />
				<HxGridColumn TItemType="InvoiceDto" HeaderText="Účinnost" ItemText="@(item => item.TaxDate.ToShortDateString())" />
				<HxGridColumn TItemType="InvoiceDto" HeaderText="Popis" ItemText="@(item => item.Description)" />
				<HxGridColumn TItemType="InvoiceDto" Context="item" HeaderText="Partner">
					<ItemTemplate>
						Partner: @item.BusinessPartnerName.Left(50)
					</ItemTemplate>
				</HxGridColumn>
			</Columns>
			<ContextMenu Context="item">
				<HxContextMenu>
					<HxContextMenuItem OnItemClick="async () => await DeleteClicked(item)">
						Smazat fakturu @(item.InvoiceNumber)
					</HxContextMenuItem>
					<HxContextMenuItem Title="Duplikovat" OnItemClick="async () => await DuplicateClicked(item)"  />
					<HxContextMenuItem Title="Vytisknout" OnItemClick="async () => await PrintClicked(item)"  />
				</HxContextMenu>
			</ContextMenu>
		</HxGrid>
	</DataSection>
	<DetailSection> @* TODO Určování velikosti draweru *@
		<InvoiceDetail @bind-Invoice="CurrentInvoice" />
	</DetailSection>
</HxListLayout>

@*
	Inpirace viz:
		DevExpress https://demos.devexpress.com/blazor/GridColumnTypes
		SyncFusion https://blazor.syncfusion.com/demos/datagrid/context-menu?theme=bootstrap4
		Telerik https://demos.telerik.com/blazor-ui/
*@