@page "/"
@using Havit.GoranG3.Contracts.Finance.Invoices

<EditForm Model="@filter">
	<DataAnnotationsValidator />

	<HxListLayout Title="Faktury vystavené">
		<NamedViewsSection>
			<HxNamedViewList TFilterType="GetInvoicesFilterDto" @bind-Filter="filter" NamedViews="namedViews" SelectedNamedViewChanged="NamedViewSelected" />
		</NamedViewsSection>
		<SearchSection>
			<HxSearchBox OnQueryTextChanged="SearchRequested" /> @* Možná přímo navázat na centrální BindData? *@
		</SearchSection>
		<FilterSection>
			<HxFilterView ApplyFilterRequested="ApplyFilterRequested">
				@* TODO: Změna stavu filtru (výměna instance) se neprojení v renderování kritérií, toje potřeba dořešit *@
				<Criteria>
					<HxDateRangeFilter @bind-ValueFrom="filter.IssuedDateFrom" @bind-ValueTo="filter.IssuedDateTo" Label="Vystavení" />
					<HxDateRangeFilter @bind-ValueFrom="filter.TaxDateFrom" @bind-ValueTo="filter.TaxDateTo" Label="Účinnost" />
					<HxTextFilter @bind-Value="filter.Text" Label="Nějaký text" />
					@*<GoranProjectFilter Label="Projekt" />
	<GoranContactFilter Label="Partner" />
	<HxFilter Label="Typ faktury">
		<FilterTemplate>
			HxDropDownList @@bind="context.InvoiceTypeId" Data="@@CodebooksStore.InvoiceTypes" NameField="Name" ValueField="Id" />
		</FilterTemplate>
		<ChipTemplate>
			<chip>
				<label>Typ:</label>
				<value>@CodebooksStore.InvoiceTypes.GetNameById(context.InvoiceTypeId)</value>
			</chip>
		</ChipTemplate>
	</HxFilter>*@
				</Criteria>
			</HxFilterView>
		</FilterSection>
		<CommandsSection>
			@* nebo pojmenovat ButtonsSection? *@
			<HxButton Text="Přidat fakturu" Skin="ButtonSkins.New" OnClick="@NewInvoiceClicked" />
			@* ...případná další tlačítka, např. export, generátor opakovaných plateb, hromadné změny? ... *@
			@* ...tlačítko může být i "rozbalovací? *@
		</CommandsSection>
		<DataSection>
			@*@bind-SelectedDataItem="@CurrentInvoice"
			AllowSelection="true"
			AllowSorting="true"*@

			@*@bind-CurrentSorting="@CurrentSorting"*@
			<HxGrid @ref="grid" TItemType="InvoiceListDto" PageSize="20" DataProvider="InvoicesDataProvider">
				<Columns>
					<HxGridColumn TItemType="InvoiceListDto" HeaderText="Datum" ItemTextSelector="@(item => item.IssuedDate.ToShortDateString())" SortString="@nameof(InvoiceListDto.IssuedDate)" IsDefaultSortColumn="true" />
					<HxGridColumn TItemType="InvoiceListDto" HeaderText="Účinnost" ItemTextSelector="@(item => item.TaxDate.ToShortDateString())" SortString="@nameof(InvoiceListDto.TaxDate)" />
					<HxGridColumn TItemType="InvoiceListDto" HeaderText="Naše číslo" ItemTextSelector="@(item => item.InvoiceNumber)" SortString="@nameof(InvoiceListDto.InvoiceNumber)" />
					<HxGridColumn TItemType="InvoiceListDto" HeaderText="Číslo protistrany" ItemTextSelector="@(item => item.BusinessPartnerInvoiceNumber)" SortString="@nameof(InvoiceListDto.BusinessPartnerInvoiceNumber)" />
					<HxGridColumn TItemType="InvoiceListDto" HeaderText="Popis" ItemTextSelector="@(item => item.Description)" SortKeySelector="@(item => item.Description)" SortString="@nameof(InvoiceListDto.Description)" />
					<HxGridColumn TItemType="InvoiceListDto" HeaderText="Protistrana" ItemTextSelector="@(item => item.BusinessPartnerName)" SortKeySelector="@(item => item.Description)" SortString="@nameof(InvoiceListDto.BusinessPartnerName)" />
					<HxGridColumn TItemType="InvoiceListDto" Context="item" HeaderText="∑ bez DPH" ItemCssClass="TODO: doprava" SortString="@nameof(InvoiceListDto.TotalExcludingVAT)">
						<ItemTemplate>
							@item.TotalIncludingVAT @item.Currency @* TODO: FORMAT dle měny? *@
						</ItemTemplate>
					</HxGridColumn>
					<HxGridColumn TItemType="InvoiceListDto" Context="item" HeaderText="∑ včetně DPH" ItemCssClass="TODO: doprava" SortString="@nameof(InvoiceListDto.TotalIncludingVAT)">
						<ItemTemplate>
							@item.TotalExcludingVAT @item.Currency @* TODO: FORMAT dle měny? *@
						</ItemTemplate>
					</HxGridColumn>
					<HxGridColumn TItemType="InvoiceListDto" Context="item" HeaderText="∑ uhrazeno" ItemCssClass="TODO: doprava" SortString="@nameof(InvoiceListDto.PaidDate)">
						<ItemTemplate>
							@if (item.PaidDate != null)
							{
								<text>@item.PaidDate</text>
							}
							else
							{
								<text>@item.TotalPaid @item.Currency</text>
							}
						</ItemTemplate>
					</HxGridColumn>
					<HxGridColumn TItemType="InvoiceListDto" HeaderText="Splatnost" ItemTextSelector="@(item => item.PaidDate?.ToShortDateString() ?? "")" SortString="@nameof(InvoiceListDto.DueDate)" />
				</Columns>
				<ContextMenu Context="item">
					<HxContextMenu>
						<HxContextMenuItem Title="Upravit" OnItemClick="async () => await EditClicked(item)" />
						<HxContextMenuItem Title="Duplikovat" OnItemClick="async () => await DuplicateClicked(item)" />
						<HxContextMenuItem Title="Smazat" OnItemClick="async () => await DeleteClicked(item)" ConfirmationQuestion="@($"Opravdu si přejete smazat fakturu {item.InvoiceNumber}?")" />
					</HxContextMenu>
				</ContextMenu>
			</HxGrid>
		</DataSection>
		<DetailSection>
			@* TODO Určování velikosti draweru *@
			<InvoiceDetail @bind-Invoice="currentInvoice" />
		</DetailSection>
	</HxListLayout>
</EditForm>
