@attribute [Route(Routes.UserAdministration.BankAccounts)]
@using Havit.GoranG3.Contracts.Finance

<HxListLayout Title="@BankAccountLocalizer.Plural">
	<CommandsSection>
		<HxButton Text="@BankAccountLocalizer.New" Skin="ButtonSkins.New" OnClick="NewItemClicked" />
	</CommandsSection>
	<DataSection>
		<HxGrid @ref="bankAccountsGrid"
				TItemType="BankAccountDto"
				DataProvider="LoadBankAccounts"
				SelectedDataItem="bankAccountSelected"
				SelectedDataItemChanged="HandleSelectedDataItemChanged"
				Context="item">
			<Columns>
				<HxGridColumn TItemType="BankAccountDto" HeaderText="@BankAccountLocalizer.Name" ItemTextSelector="@(item => item.Name)" />
				<HxGridColumn TItemType="BankAccountDto" HeaderText="@BankAccountLocalizer.BankName" ItemTextSelector="@(item => item.BankName)" />
				<HxGridColumn TItemType="BankAccountDto" HeaderText="@BankAccountLocalizer.AccountNumber" ItemTextSelector="@(item => item.AccountNumber)" />
				<HxGridColumn TItemType="BankAccountDto" HeaderText="@BankAccountLocalizer.Iban" ItemTextSelector="@(item => item.Iban)" />
				<HxGridColumn TItemType="BankAccountDto" HeaderText="@BankAccountLocalizer.SwiftBic" ItemTextSelector="@(item => item.SwiftBic)" />
			</Columns>
			<ContextMenu Context="item">
				<HxContextMenu>
					<HxContextMenuItem Text="@BankAccountLocalizer.Delete"
									   Icon="BootstrapIcon.Trash"
									   OnClick="async () => await DeleteItemClicked(item)"
									   ConfirmationQuestion="@String.Format(BankAccountLocalizer.DeleteConfirmation, item.Name)" />
				</HxContextMenu>
			</ContextMenu>
		</HxGrid>

	</DataSection>
	<DetailSection>

		@* DEMO of DisplayModes, in production, this should be fixed to Drawer *@
		<div class="my-3">
			<HxSelect Label="BankAccountEdit DisplayMode" Data="Enum.GetValues<LayoutDisplayMode>()" TItemType="LayoutDisplayMode" TValueType="LayoutDisplayMode" @bind-Value="displayMode" TextSelector="@(i => i.ToString("g"))" Nullable="false" />
		</div>

		<BankAccountEdit @ref="bankAccountEditComponent" Value="bankAccountEdited" ValueChanged="HandleEditValueChanged" DisplayMode="displayMode" OnClosed="HandleEditClosed" />

	</DetailSection>
</HxListLayout>

@code
{
	private LayoutDisplayMode displayMode = LayoutDisplayMode.Drawer;
}

