@if (this.LayoutDetailContext is null)
{
    <h1>@(model.Name ?? BankAccountLoc.New)</h1>
}

<EditForm Model="model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <HxInputText CssClass="mb-3" Label="@BankAccountLoc.Name" @bind-Value="model.Name" />
    <HxInputText CssClass="mb-3" Label="@BankAccountLoc.AccountNumber" @bind-Value="model.AccountNumber" />
    <HxInputText CssClass="mb-3" Label="@BankAccountLoc.BankName" @bind-Value="model.BankName" />
    <HxInputText CssClass="mb-3" Label="@BankAccountLoc.Iban" @bind-Value="model.Iban" />
    <HxInputText CssClass="mb-3" Label="@BankAccountLoc.SwiftBic" @bind-Value="model.SwiftBic" />

    <HxSubmit Skin="(model.Id == default) ? ButtonSkins.Insert : ButtonSkins.Save" />
</EditForm>