<div class="top-row ps-4 navbar navbar-light">
	<a class="navbar-brand py-0 text-primary" href="">GORAN G3</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="sidebar-inner d-flex flex-column flex-grow-1">
	<div class="@GetCssClass()">
		<ul class="nav flex-column">
			<NavMenuItem Text="Dashboard" Href="@Routes.Home">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.Columns" />
				</Icon>
			</NavMenuItem>
			<NavMenuItem Text="Osobní">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.Person" />
				</Icon>
				<SubItems>
					<li class="sub-item w-100">
						<NavLink class="nav-link px-4 ps-5" href="/one" Match="NavLinkMatch.All">
							Timesheety
						</NavLink>
					</li>
					<li class="sub-item w-100">
						<NavLink class="nav-link px-4 ps-5" href="/two" Match="NavLinkMatch.All">
							Dovolené
						</NavLink>
					</li>
					<li class="sub-item w-100">
						<NavLink class="nav-link px-4 ps-5" href="/three" Match="NavLinkMatch.All">
							Fond pracovní doby
						</NavLink>
					</li>
					<li class="sub-item w-100">
						<NavLink class="nav-link px-4 ps-5" href="/four" Match="NavLinkMatch.All">
							Tray Utilita
						</NavLink>
					</li>
				</SubItems>
			</NavMenuItem>
			<NavMenuItem Text="Timesheety">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.Clock" />
				</Icon>
			</NavMenuItem>
			<NavMenuItem Text="Projekty">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.Kanban" />
				</Icon>
			</NavMenuItem>
			<NavMenuItem Text="Finance">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.Wallet2" />
				</Icon>
			</NavMenuItem>
			<NavMenuItem Text="Reporting">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.ClipboardData" />
				</Icon>
			</NavMenuItem>
			<NavMenuItem Text="Personalistika">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.People" />
				</Icon>
			</NavMenuItem>
			<NavMenuItem Text="@NavigationLocalizer.Administration" Href="@Routes.Administration.Index">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.Gear" />
				</Icon>
			</NavMenuItem>
			<NavMenuItem Text="Development" Href="/development">
				<Icon>
					<HxIcon CssClass="me-2 overflow-visible" Icon="@BootstrapIcon.FileCode" />
				</Icon>
			</NavMenuItem>
		</ul>
	</div>
	<div class="p-4 mt-auto">
		<CultureSelector />
	</div>
</div>