<div class="top-row ps-4 navbar navbar-light">
    <a class="navbar-brand py-0 text-primary" href="">NewProjectTemplate</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="sidebar-inner d-flex flex-column flex-grow-1">
    <div class="@GetCssClass()">
        <ul class="nav flex-column">
            <NavMenuItem Text="Dashboard" Href="@Routes.Home">
                <Icon>
                    <HxIcon CssClass="me-3" Icon="@BootstrapIcon.Columns" />
                </Icon>
            </NavMenuItem>
            <NavMenuItem Text="Section 1">
                <Icon>
                    <HxIcon CssClass="me-3" Icon="@BootstrapIcon.Person" />
                </Icon>
                <SubItems>
                    <li class="sub-item w-100">
                        <NavLink class="nav-link px-4 ps-5" href="/one" Match="NavLinkMatch.All">
                            Section Item 11
                        </NavLink>
                    </li>
                    <li class="sub-tem w-100">
						<NavLink class="nav-link px-4 ps-5" href="/two" Match="NavLinkMatch.All">
							Section Item 12
						</NavLink>
                    </li>
                    <li class="sub-item w-100">
						<NavLink class="nav-link px-4 ps-5" href="/three" Match="NavLinkMatch.All">
							Section Item 13
						</NavLink>
                    </li>
                    <li class="sub-item w-100">
						<NavLink class="nav-link px-4 ps-5" href="/four" Match="NavLinkMatch.All">
							Section Item 14
						</NavLink>
                    </li>
                </SubItems>
            </NavMenuItem>
            <NavMenuItem Text="Section 2">
                <Icon>
                    <HxIcon CssClass="me-3" Icon="@BootstrapIcon.Clock" />
                </Icon>
            </NavMenuItem>
            <NavMenuItem Text="Section 3">
                <Icon>
                    <HxIcon CssClass="me-3" Icon="@BootstrapIcon.Kanban" />
                </Icon>
            </NavMenuItem>
            <NavMenuItem Text="@NavigationLocalizer.Administration" Href="@Routes.Administration.Index">
                <Icon>
                    <HxIcon CssClass="me-3" Icon="@BootstrapIcon.Gear" />
                </Icon>
            </NavMenuItem>
            <NavMenuItem Text="Development" Href="/development">
                <Icon>
                    <HxIcon CssClass="me-3" Icon="@BootstrapIcon.FileCode" />
                </Icon>
            </NavMenuItem>
            <NavMenuItem Text="Hangfire" Href="/hangfire">
                <Icon>
                    <HxIcon CssClass="me-3" Icon="@BootstrapIcon.Lightbulb" />
                </Icon>
            </NavMenuItem>
        </ul>
    </div>
    <div class="p-4 mt-auto">
        <LoginDisplay />
    </div>
</div>